<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Aroma & Sabor</title>
    <style>
       /* Container que centraliza tudo na página */
       /* Container principal: remove o offset negativo e ocupa a tela toda */
            
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>Dashboard Aroma & Sabor</h1>
            <p><a href="index.html">Voltar para Produtos</a></p>
        </header>
        <div class="dashboard-grid">
                <div class="chart-card">
                    {{ fig_sales | safe }}
                </div>

                <div class="chart-card">
                    {{ fig_category | safe }}
                </div>

                <div class="chart-card">
                        {{ status_chart | safe }}
                </div>
                <div class="chart-card">
                    {{ top_products_chart | safe }}
                </div>
        </div>
        
    </div>
</body>
</html>
